body{
    background-color:#1b1924;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #aa7efc;
}

h2{
    color: #aa7efc;
}

p{
    color:#aa7efc;
}

.espaco{
    text-align: center;
}

.topo{
    padding-top: 200px;
}

ul{
    display: flex;
    justify-content:space-between;
    list-style-type:none;
    align-items:center;
    padding: 15px;
    text-align: center;
}

.container{
    padding: 0px 50px;
}

a{
    color: white;
}